/**
 * SPDX-FileCopyrightText: 2019-2020 Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

:root {
  --background: hsl(0%, 0%, 98%);
  --text: hsl(0%, 0%, 10%);
  --text-strong: hsl(0%, 0%, 2%);
  --menu-item-color: hsl(0, 0%, 4%);
  --primary: #0079c1;
  --border: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 4%);
    --text: #efefef;
    --text-strong: #eaeaea;
    --menu-item-color: #eaeaea;
    --primary: #0079c1;
    --border: rgba(255, 255, 255, 0.1);
  }
}

$background: hsl(0%, 0%, 98%);
$text: hsl(0%, 0%, 10%);
$text-strong: hsl(0%, 0%, 2%);
$menu-item-color: $background;
$primary: #0079c1;

$shadow-key-umbra-opacity: 0.6;
$shadow-key-penumbra-opacity: $shadow-key-umbra-opacity * 0.7;
$shadow-ambient-shadow-opacity: $shadow-key-umbra-opacity * 0.6;

/*! bulma.io v0.9.0 | MIT License | github.com/jgthms/bulma */
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/form/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/helpers/_all";
@import "bulma/layout/_all";

body {
  background-color: var(--background);
  color: var(--text);
}

.card {
  border: 1px solid var(--border);
  border-radius: 3px;
  padding: 1rem;
  background-color: var(--background);
  color: var(--text);
}

.basis-0 {
  flex-basis: 0;
}

.grow-1 {
  flex-grow: 1;
}

/* Homepage */
.small-container {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0 0 1em;
}

h1:hover .anchors, h2:hover .anchors, h3:hover .anchors,
h4:hover .anchors, h5:hover .anchors, h6:hover .anchors {
  visibility: initial;
}

h1 .anchors, h2 .anchors, h3 .anchors, h4 .anchors,
h5 .anchors, h6 .anchors {
  visibility: hidden;
}

@media (max-width: 800px) {
  body, html {
    font-size: 15px
  }
}

body {
  background-color: var(--background);
}

.footer {
  background-color: var(--background);
  padding: 2rem;
}

.header,
.navbar {
  background-color: var(--background);
  color: var(--menu-item-color);
}

hr {
  background-color: var(--border);
}

@media (prefers-color-scheme: dark) {
  .button {
    border: 1px solid var(--border);
    background-color: var(--background);
    color: var(--text);
    &:active {
      border: 2px solid var(--primary);
      color: var(--text);
    }
    &:hover, &:focus {
      border-color: var(--primary);
      color: var(--text);
    }
  }
}

.navbar-item {
  color: var(--menu-item-color);
  font-size: 1.25rem;
}

.navbar-brand img {
  max-height: 100%;
  padding: 0.1rem;
}


@media (min-width:1100px) {
  .laptop-with-overlay {
    max-width: 900px;
  }
}

.laptop-with-overlay {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.laptop, .phone,
.laptop-with-overlay {
  position: relative;
}

.laptop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2%;
  margin-left: 10%;
  width: 79%;
}

.laptop-background {
  background-image: radial-gradient(50% 70%, #cccccc33, var(--background) 60%);
}

/**
 * Section about the last release
 */

.components {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  a {
    transition: transform 0.3s;
  }

  a:hover {
    transform: scale(1.03);
  }
}

.product {
  background-color: #efefef;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 calc((100% / 2) - 2rem);
  padding-left: 1rem;
  padding-right: 1rem;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 9px 11px -5px, rgba(0, 0, 0, 0.14) 0px 18px 28px 2px, rgba(0, 0, 0, 0.12) 0px 7px 34px 6px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  }

  h2 {
    margin: 1rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.4rem;
  }

  @media (max-width: 800px) {
    height: 25rem;
    flex: 1 1 100%;
    h3 {
      font-size: 1rem;
    }
  }
}

.product-fedora {
  flex: 1 1 calc(100% - 2rem);
  background-color: #52a2da;
  background-image: linear-gradient(-70deg,#257fbd 0%, #52a2da 42%, #257fbd 94%);

  h3, h2 {
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,.6);
    max-width: 500px;
  }
}

.product-ostree {
  background-color: #313a40;
  background-image: radial-gradient(#E8439322 5%, #000000);
  img {
    width: 4rem;
    height: auto;
  }
  h2, p {
    text-shadow: 0px 0px 10px rgba(0,0,0,.6);
    color: white;
    margin-left: 0;
    max-width: 500px;
  }
}

.product-podman {
  background-color: #c0d2dd;
  img {
    width: 15rem;
    height: auto;
  }
  h2, p {
    color: #222;
    margin-left: 0;
    max-width: 500px;
  }
}

.logo {
  height: 64px;
  width: 64px;
}

.plasma-logo {
  height: 64px;
  width: 64px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6));
}

.product-plasma {
  background: url(https://cdn.kde.org/aether-devel/images/wallpaper3.jpg);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  background-position: center;
  text-align: center;

  h2, h3 {
    text-shadow: 0px 0px 10px rgba(0,0,0,.6);
    color: white;
    max-width: 80%;
  }
}

.product-applications {
  background: url(/img/applications.svg);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  background-position: center;
  padding-left: 0;
  padding-right: 0;
  .description {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    width: 100%;
    margin-top: auto;
  }
  h2 {
    margin-left: 0;
    color: black;
  }
}


/* Utils */

.is-flex-center-vertial-childs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .subtitle {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
